<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card style">
    <div class="card-header style">
      <i class="fa fa-align-justify"></i> Tipos de Transacción Registrados
      <select #nreg class="form-control col-lg-1" (change)="enviarNumeroRegistros($event.target.value) ">
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>
    <div class="card-body">
      <div class="div table-container style">
        <table class="table table-striped table-hover table-responsive style">
          <thead>
            <tr class="table-info">
              <th>Código</th>
              <th>Nombre </th>
              <th>Descripción</th>
              <th>Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let tipoT of tipoTs | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }" data-aos="fade-down">
              <!-- <div *ngIf="rol.estado.id !=3"> -->
              <td>{{tipoT.id}}</td>
              <td>{{tipoT.detalle}}</td>
              <td>{{tipoT.descripcion}}</td>
              <td>
                <span class="badge badge-primary" style="cursor: pointer;"
                  (click)="actualizar(tipoT)">Actualizar</span>
                <span
                  class="badge badge-danger"
                  style="cursor: pointer;"
                  [swal]="{ title: 'Desea eliminar',  showCancelButton: true }"
                  (confirm)="eliminar(tipoT.id)">
                  Eliminar
                </span>
              </td>
              <!-- </div> -->
            </tr>
          </tbody>
          <button type="button" class="btn btn-success mr-10 btn-sm" (click)="agregar()">Agregar</button>
        </table>
        <div>
          <ul>
            <span>
              <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </span>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
