<div class="demo-app">
  <div class="demo-app-main">

    <div class="row">

      <label>Cerrar todo el calendario</label>
      <div class="col-sm-3">
        <app-custom-switch
            [size]="6"
            [checked]="calendarVisible"
            (change)="handleCalendarToggle()"
          ></app-custom-switch>
      </div>

      <label>Con fin de semana</label>
      <div class="col-sm-2">
        <app-custom-switch
            [size]="6"
            [checked]="calendarOptions.weekends"
            (change)="handleWeekendsToggle()"
          ></app-custom-switch>
      </div>

    </div>
    <full-calendar *ngIf="calendarVisible" [options]="calendarOptions">
      <ng-template #eventContent let-arg>
        {{ arg.timeText }} <br>
        {{ arg.event.title}}<br>
        {{arg.event.extendedProps.infra}}<br>
        {{arg.event.extendedProps.jornada}}<br>
        {{arg.event.extendedProps.tipoGrupo}} <br>
      </ng-template>
    </full-calendar>
  </div>
</div>
