<div class="div-principal col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-header">
        <div class="col">
          <div class="row
                justify-content-between
                align-items-center">
            <div class="col
                  justify-content-around
                  align-items-center">
              <i class="fa fa-align-justify"></i>
              Sedes Registradas
              <select
                #nreg
                class="form-control col col-lg-2"
                (change)="enviarNumeroRegistros($event)">
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
              </select>
            </div>
            <div class="col">
              <app-campo-busqueda
                [message]="'Escriba: el nombre o codigo del área'"
                [lista]="'busqueda-list'"
                (busqueda)="buscarArea($event)"
                (cancel)="cancelarBusqueda()">
                <datalist id="busqueda-list">
                  <option
                    *ngFor="let area of areas" 
                    [value]="area.nombreArea">
                    {{area.nombreArea}}
                  </option>
                  <option
                    *ngFor="let area of areas" 
                    [value]="area.codigo">
                    {{area.codigo}}
                  </option>
                </datalist>
              </app-campo-busqueda>
            </div>
          </div>
        </div>
      </div>
    <div class="card-body">
          <div class="div table-container">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                  <tr class="table-info">
                    <th>ID</th>
                    <th>Área</th>
                    <th>Código</th>
                    <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let area of areas| paginate: { itemsPerPage: this.numReg,currentPage: pageActual}">
              <td>{{area.id}}</td>
              <td>{{area.nombreArea}}</td>
              <td>{{area.codigo}}</td>
              <td>
                <span
                    class="badge badge-primary"
                    style="cursor: pointer;"
                    (click)="actualizar(area)">
                    Actualizar
                </span>
                <span
                    class="badge badge-danger"
                    style="cursor:pointer"
                    [swal]="{ title:'¿Desea eliminar?', showCancelButton: true }"
                    (confirm)=" eliminar(area.id)">
                  Eliminar
                </span>
              </td>
            </tr>
        </tbody>
        <button
            type="button"
            class="btn btn-success mr-10 btn-sm"
            (click)="agregar()">
            Agregar
        </button>
    </table>
    <span>
        <pagination-controls (pageChange)="pageActual=$event">
        </pagination-controls>
      </span>
    </div>
  </div>
</div>



</div>

