<div class="modal-body">
  <div class="card-header">
    <strong>Registrar Usuario</strong>
  </div>
  <div class="card-body">
    <form class="usuarioFormulario" [formGroup]="formUsuario" class="was-validated" novalidate>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="nombre1">Primer nombre</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese su primer nombre"
            class="form-control is-valid"
            formControlName='nombre1'
            required>
          <div class="valid-feedback" *ngIf="!nombre1Field.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el nombre
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="nombre2">Segundo nombre</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese su segundo nombre"
            class="form-control is-valid"
            formControlName='nombre2'>
          <div class="valid-feedback" *ngIf="!nombre2Field.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el nombre
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="apellido1">Primer apellido</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese su primer apellido"
            class="form-control is-valid"
            formControlName='apellido1'
            required>
          <div class="valid-feedback" *ngIf="!apellido1Field.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el apellido
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="apellido2">Segundo apellido</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese su primer apellido"
            class="form-control is-valid"
            formControlName='apellido2'>
          <div class="valid-feedback" *ngIf="!apellido2Field.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el apellido
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="fechaFinal">Fecha de Nacimiento</label>
        <div class="col-md-7">
          <my-date-picker class="is-valid"
            placeholder="Seleccione su Fecha de Nacimiento"
            [options]="fechaNac" formControlName="fechaNac">
          </my-date-picker>
          <div class="valid-feedback" *ngIf="!fechaNacField.hasError('required');else formato ">
            Valor valido
          </div>
          <ng-template #formato>
            formato de fecha:(aaaa/mm/dd)
          </ng-template>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="celular">Celular</label>
        <div class="col-md-7">
          <input
            type="number"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese su celular"
            class="form-control is-valid"
            formControlName='celular'
            required>
          <div class="valid-feedback" *ngIf="!celularField.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el nombre
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="email">Email</label>
        <div class="col-md-7">
          <input type="email" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Email"
            class="form-control is-valid" formControlName="email"
            required>
          <div class="valid-feedback" *ngIf="!emailField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="contrasena">Contraseña</label>
        <div class="col-md-7">
          <input
            type="password"
            placeholder="Ingrese su contraseña"
            class="form-control is-valid"
            formControlName='contrasena' id="contrasena"
            required>
          <div class="valid-feedback" *ngIf="!contrasenaField.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para la contraseña
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="contrasena">Confirmar contraseña</label>
        <div class="col-md-7">
          <input
            id="confirmContrasena"
            type="password"
            placeholder="Ingrese su contraseña"
            class="form-control is-valid"
            required>

        </div>

      </div>

    </form>
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-sm btn-primary"
        (click)="guardarUsuario()"
        [disabled]="formUsuario.invalid">
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button
        type="reset"
        class="btn btn-sm btn-danger"
        (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>
