<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Competencias Registradas
      <select #nreg class="form-control col-lg-1" (change)="enviarNumeroRegistros($event.target.value) ">
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>


    <div class="card-body">
      <div class="div table-container ">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr class="table-info">
              <th>Id</th>
              <th>Competencia</th>
              <th>Código</th>
              <th>Actividad proyecto</th>
              <th>Acciones</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let competencia of competencia | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }">
              <td>{{competencia.id}}</td>
              <td>{{competencia.nombreCompetencia}}</td>
              <td>{{competencia.codigoCompetencia}}</td>
              <td>{{competencia.actividad_proyecto.nombreActividadProyecto}}</td>
  
              <td>
                <span class="badge badge-primary" style="cursor: pointer;"
                  (click)="actualizar(competencia)">Actualizar</span>
                <span class="badge badge-danger" style="cursor: pointer;"
                  [swal]="{ title: 'Desea eliminar',  showCancelButton: true }" (confirm)="eliminar(competencia.id)">
                  Eliminar
                </span>
              </td>
              <!-- </div> -->
            </tr>
          </tbody>
          <button type="button" class="btn btn-success mr-10 btn-sm" (click)="agregar()">Agregar</button>
        </table>
        <div>
          <ul>
            <span>
              <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </span>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>