<app-infraestructura-list
  [infraestructuras]="infreaestructuras"
  [sedes]="sedes"
  [areas]="areas"
  [ciudades]="ciudades"
  (update)="actualizarInfraestructura($event)"
  (delete)="eliminarInfraestructura($event)"
  (create)="crearInfraestructura()"
  (ciudadId)="getSedesByCiudad($event)"
  (filtro)="filtrarInfraestructuras($event)"
  (info)="verInfoInfraestructura($event)"
  (busqueda)="buscarInfraestructura($event)"
  (cancel)="getInfraestructuras()">
</app-infraestructura-list>

<app-custom-modal
  size="lg"
  title="Gestionar Infraestructura"
  [(show)]="showFormInfr">
  <app-infraestructura-form
    *ngIf="showFormInfr"
    [infraestructura]="infraestructura"
    [areas]="areas"
    [sedes]="sedes"
    [title]="formTitle"
    (store)="guardarInfraestructura($event)"
    (cancel)="reset()">
  </app-infraestructura-form>
</app-custom-modal>

<app-custom-modal
  size="lg"
  title="Información de la infraestructura"
  [(show)]="showInfoInfr">
  <app-infraestructura-result
    *ngIf="showInfoInfr"
    [resultadoBusqueda]="infraestructura"
    (update)="actualizarInfraestructura($event)"
    (delete)="eliminarInfraestructura($event)"
    (close)="closeBusqueda()"
    (cancel)="reset()">>
  </app-infraestructura-result>
</app-custom-modal>

<app-custom-modal
  size="lg"
  title="Resultado de la busqueda"
  [(show)]="showResultadoBusqueda">
  <app-infraestructura-result
    *ngIf="showResultadoBusqueda"
    [resultadoBusqueda]="resultadoBusqueda"
    (update)="actualizarInfraestructura($event)"
    (delete)="eliminarInfraestructura($event)"
    (close)="closeBusqueda()"
    (cancel)="reset()">
  </app-infraestructura-result>
</app-custom-modal>
