<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-header">
      <div class="row
        justify-content-between
        d-block
        d-sm-inline">
        <div class="col">
          <div class="row justify-content-around">
            <div class="col">
              Departamento:
              <select
                class="form-select"
                (change)="enviarIdDep($event)">
                <option [value]="0">
                  Elija un departamento
                </option>
                <option
                    *ngFor="let dep of departamentos"
                    [value]="dep.id">
                    {{dep.descripcion}}
                  </option>
              </select>
            </div>
            <div class="col">
              Ciudad:
              <select
                class="form-select"
                (change)="enviaridCiudad($event)">
                <option [value]="0">
                  Elija una ciudad
                </option>
                <option
                  *ngFor="let ciudad of ciudades"
                  [value]="ciudad.id">
                  {{ciudad.descripcion}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row
                justify-content-between
                align-items-center">
            <div class="col
                  justify-content-around
                  align-items-center">
              <i class="fa fa-align-justify"></i>
              Sedes Registradas
              <select
                #nreg
                class="form-select col col-lg-2"
                (change)="enviarNumeroRegistros($event)">
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
              </select>
            </div>
            <div class="col">
              <app-campo-busqueda
                [message]="'Escriba: Departamento,Ciudad o Sede'"
                [lista]="'busqueda-list'"
                (busqueda)="buscarSede($event)"
                (cancel)="cancelarBusqueda()">
                <datalist id="busqueda-list">
                  <option
                    *ngFor="let sede of sedes"
                    [value]="sede.nombreSede">
                    {{sede.nombreSede}}
                  </option>
                  <option
                    *ngFor="let ciudad of ciudades"
                    [value]="ciudad.descripcion">
                    {{ciudad.descripcion}}
                  </option>
                  <option
                    *ngFor="let dep of departamentos"
                    [value]="dep.descripcion">
                    {{dep.descripcion}}
                  </option>
                </datalist>
              </app-campo-busqueda>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="div table-container">
          <table class="table table-striped table-hover table-responsive">
              <thead>
                  <tr class="table-info">
                      <th>ID</th>
                      <th>Sede</th>
                      <th>Dirección</th>
                      <th>Teléfono</th>
                      <th>Descripción</th>
                      <th>Ciudad</th>
                      <th>Centro Formacion</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let sede of sedes
                      | paginate: {
                                      itemsPerPage:numReg,
                                      currentPage:pageActual
                                  }">
                      <td>{{sede.id}}</td>
                      <td>{{sede.nombreSede}}</td>
                      <td>{{sede.direccion}}</td>
                      <td>{{sede.telefono}}</td>
                      <td>
                        <span
                          class="badge badge-primary"
                          style="cursor:pointer"
                          (click)="verInfo(sede)">
                          Ver Info
                        </span>
                      </td>
                      <td>{{sede.ciudad.descripcion}}</td>
                      <td>
                        {{sede.centro_formacion.nombreCentro}}
                      </td>
                      <td>
                          <span
                              class="badge badge-primary"
                              style="cursor: pointer;"
                              (click)="actualizar(sede)">
                              Actualizar
                          </span>
                          <span
                              class="badge badge-danger"
                              style="cursor:pointer"
                              [swal]="{
                                  title:'¿Desea eliminar?',
                                  showCancelButton: true
                              }"
                              (confirm)=" eliminar(sede.id)">
                              Eliminar
                          </span>
                      </td>
                  </tr>
              </tbody>
              <button
                  type="button"
                  class="btn btn-success mr-10 btn-sm"
                  (click)="agregar()">
                  Agregar
              </button>
          </table>
          <span>
              <pagination-controls (pageChange)="pageActual=$event">
              </pagination-controls>
          </span>
      </div>
    </div>
  </div>
</div>
