<div class="col-md-12 grid-margin">
  <div class="card style">
    <div class="card-header style" style="font-weight: bold;">

      <i class="fa fa-align-justify"></i>Asignación de Permisos
      <select #nreg class="form-control col-lg-2" (change)="enviarNumeroRegistros($event.target.value) ">
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>

    <div class="card-body">

      <form [formGroup]="form" class="forms-sample" (ngSubmit)="guardarPermiso()">
        
        <div class="form-group m-5" style="margin-left: -3%">
          <label for="rol" style="font-weight: bold;">Empresas</label>
          <select class="form-control border-primary " id="company" formControlName="company"
            (change)="rolesByCompany()">
            <option [value]="null">Seleccione una empresa </option>
            <option *ngFor="let emp of empresas" [value]="emp.id">{{emp.razonSocial}}</option>

          </select>


          <div *ngIf="rol.invalid && (rol.dirty || rol.touched)">

            <span style="color:red" *ngIf="rol.errors.required">Debe seleccionar una empresa </span>
          </div>
        </div>
        <div class="form-group  m-5" style="margin-left: -3%">
          <label for="rol" style="font-weight: bold;">Roles</label>
          <select class="form-control border-primary " id="rol" formControlName="rol" (change)="menusByrol()">
            <option [value]="null">Seleccione un rol </option>
            <option *ngFor="let rol of objRol" [value]="rol.id">{{rol.name}}</option>

          </select>

          <div *ngIf="rol.invalid && (rol.dirty || rol.touched)">
            <span style="color:red" *ngIf="rol.errors.required">Debe seleccionar un rol </span>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre permiso</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            
            <tbody>

              <tr *ngFor="let m of menus; let indice=index" data-aos="fade-left">

                <td>{{ m.name }}</td>
                <td>{{ m.description }}</td>

                <app-custom-switch [(checked)]="m.checked" size="8">

                </app-custom-switch>
                

              </tr>
            </tbody>

          </table>
          <ul>
            <span>
              <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </span>
          </ul>
        </div>
        <br>
        <br>
        <button type="submit" class="mr-2"
          [class]="update?'btn btn-warning':'btn btn-success mr-10 btn-md'">{{update?'Actualizar':'Guardar
          permiso'}}</button>
      </form>


    </div>

    <!-- <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}
      </alert>
    </div> -->

  </div>
</div>