<div class="div-principal col-lg-12 grid-margin stretch-card"></div>  
  <div class="card">
    <div class="card-header">
    <div class="card-body">
      <div class="card-header">
        <strong>Gestión Programa</strong>
      </div>
      <div class="div table-container ">
        <div class="form-group col">
          <label class="col-md-4 col-form-label" for="idPrograma" >Programa</label>
          <div class="col-md-11">
            <select class="form-control border-primary form-select" [(ngModel)]="selectedProgramId" (change)="capturarIdPrograma()" (ngModelChange)="filterProjects()">
              <option [ngValue]="null">Seleccionar programa </option>
              <option *ngFor='let programa of programas' [ngValue]="programa.id">{{programa.nombrePrograma}}</option>
            </select>
          </div>
          <button class="btn btn-success rounded-circle m-3"  style="position: relative; left: 90%; top: -51px;" (click)="agregar()">+</button>
          <div class="invalid-feedback">
            por favor ingresé un valor válido para programa
          </div><br>
          <app-custom-modal title="Gestión Programa"
      [(show)]="showModalProgramas">
      <app-add-programa
        [programa]="programa"
        (store)="guardarProgramas($event)"
        (cancel)="reset()">
      </app-add-programa>
    </app-custom-modal>


          <table class="table table-striped table-hover table-responsive" *ngIf="selectedProgram">
            <tbody>
              <tr>
                <th scope="row">Nombre:</th><td>{{selectedProgram.nombrePrograma}}</td>
                <th scope="row">Código:</th><td>{{selectedProgram.codigoPrograma}}</td>
                <th scope="row">Tipo Programa:</th><td>{{selectedProgram.tipoPrograma.nombreTipoPrograma}}</td>
              </tr>
             
              <tr>
                <th scope="row">Estado:</th><td>{{selectedProgram.estado.estado}}</td>
                <th scope="row">Total Horas:</th><td>{{selectedProgram.totalHoras}}</td>
                <th scope="row">Etapa Lectiva:</th><td>{{selectedProgram.etapaLectiva}}</td>
              </tr>
             
              <tr>
                <th scope="row">Etapa Productiva:</th><td>{{selectedProgram.etapaProductiva}}</td>
                <th scope="row">Creditos Lectiva:</th><td>{{selectedProgram.creditosLectiva}}</td>
                <th scope="row">Creditos Productiva:</th><td>{{selectedProgram.creditosProductiva}}</td>
              </tr>
              <tr>
                <th scope="row">Descripción:</th><td>{{selectedProgram.descripcionPrograma}}</td>
                <th scope="row">Archivo:</th><td><a (click)="mostrarArchivo(selectedProgram.rutaArchivo)" class="cil-info"></a></td>
                <th></th><td></td>
              </tr>
            </tbody>
          </table>
        
          <!-- select para pryecto formativo -->
          <label class="col-md-4 col-form-label" for="idPrograma" >Proyecto formativo</label>
          <div class="col-md-12">
            <select class="form-control border-primary form-select" [(ngModel)]="selectedProyectoId" (change)="capturarIdProyecto()">
              <option [ngValue]="null">Seleccionar programa </option>
              <option *ngFor="let proyecto of filteredProjects" [ngValue]="proyecto.id">{{proyecto.nombre}}</option>
            </select>
          </div><br>

          <!-- tabla de proyecto formativo -->
          <table class="table table-striped table-hover table-responsive" *ngIf="selectedProyecto">
            <tbody>
              <tr>
                <th scope="row">Nombre:</th><td>{{selectedProyecto.nombre}}</td>
                <th scope="row">Código:</th><td>{{selectedProyecto.codigo}}</td>
                <th scope="row">programa:</th><td>{{selectedProyecto.Programas.nombrePrograma}}</td>
              </tr>
             
              <tr>
                <th scope="row">Tiempo Estimado:</th><td>{{selectedProyecto.tiempoEstimado}}</td>
                <th scope="row">N° Total Raps:</th><td>{{selectedProyecto.numeroTotalRaps}}</td>
                <th scope="row">Centro Formación:</th><td>{{selectedProyecto.idCentroFormacion}}</td>
              </tr>
             
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <div class="card-body">


    

    <div class="card-header">

        <!--Para realizar los botones(etiquetas) de eliminar-->
        <label class="col-md-4 col-form-label">Actividad proyecto</label>
        <button class="btn btn-success rounded-circle m-4" style="position: relative; left: -10rem;"
          (click)="agregarAp()">+</button>
        <div class="etiquet" style="display: flex; flex-wrap: wrap; padding: 30px; width: 100%; border: 2px solid rgba(0, 0, 0, 0.185);background:rgb(255, 255, 255) ; ">
          <button *ngFor="let  ActividadProyecto of ActividadProyectos "(click)="filtrarCompetencias(ActividadProyecto)" class="btn btn-outline-primary btn-sm" 
            style=" margin: 10px; width: 12%;" 
            title="{{ ActividadProyecto.nombreActividadProyecto }}" >
            {{ ActividadProyecto.codigoAP}}
            
           <div class="spanss">
            <span title="Eliminar" class="fa fa-close fa-lg " style="margin-left: 15px; color: rgb(210, 91, 91); position: sticky;"  (click)="eliminarEtiquet(ActividadProyecto)"></span>
            
            <span title="Ver información" class="fa fa-info-circle fa-lg " data-bs-toggle="modal" data-bs-target="#modalId1" style="margin-left: 15px; color: rgb(132, 132, 132); position: sticky;"  (click)="seleccionarActividadP(ActividadProyecto) "></span>

           </div>
          </button>
        </div>
      </div>

      <div class="modal fade" id="modalId1" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">Actividad proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


              <table class="table table-striped table-hover table-responsive" *ngIf="selectedActividadP">
                <tbody>
                  <tr>
                    <th scope="row">Nombre:</th>
                    <td>{{selectedActividadP.nombreActividadProyecto}}</td>
                    <th ></th>
                    <td></td>
                  </tr>
              
                  <tr>
                    <th scope="row">Fase: </th>
                    <td>{{selectedActividadP.fase.nombreFase}}</td>
                    <th ></th>
                    <td></td>
                  </tr>
              
                  <tr>
                    <th scope="row">Código:</th>
                    <td>{{selectedActividadP.codigoAP}}</td>
                    <th></th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      
      <!-- Optional: Place to the bottom of scripts -->

      <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
      <div class="form-group row"></div>



      <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
      <div class="card-header">

        <!--Para realizar los botones(etiquetas) de eliminar-->
        <label class="col-md-4 col-form-label">Competencias</label>
        <button class="btn btn-success rounded-circle m-4" style="position: relative; left: -12rem; "
          (click)="agregarC()">+</button>
        <div class="etiqueta" style="display: flex; flex-wrap: wrap; padding: 30px; width: 100%; border: 2px solid rgba(0, 0, 0, 0.185);background:rgb(255, 255, 255) ; " >
          <button *ngFor="let Competencia of Competencias" class="btn btn-outline-primary btn-sm " style="margin: 10px; width: 12%;"
          

            title="{{ Competencia.nombreCompetencia }}">
            {{ Competencia.codigoCompetencia}}
            <div class="spans">
              <span title="Eliminar" class="fa fa-close fa-lg " style="margin-left: 15px; color: rgb(210, 91, 91); position: sticky;"  (click)="eliminarEtiquet(ActividadProyecto)"></span>
              <span title="Ver información" class="fa fa-info-circle fa-lg " data-bs-toggle="modal" data-bs-target="#modalId" style="margin-left: 15px; color: rgb(132, 132, 132); position: sticky;"  (click)="seleccionarCompetencia(Competencia)"></span>
  
             </div>
          </button>
        </div>
      </div>

      
          
          <!-- Modal Body-->
          <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalTitleId">Competencia</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">

                  <table class="table table-striped table-hover table-responsive" *ngIf="selectedCompetencia">
                    <tbody>
                      <tr>
                        <th scope="row">Nombre:</th>
                        <td>{{selectedCompetencia.nombreCompetencia}}</td>
                        <th ></th>
                        <td></td>
                      </tr>
                  
                      <tr>
                        <th scope="row">codigo : </th>
                        <td>{{selectedCompetencia.codigoCompetencia}}</td>
                        <th ></th>
                        <td></td>
                      </tr>
                  
                      <tr>
                        <th scope="row">Actividad proyecto:</th>
                        <td>{{selectedCompetencia.idActividadProyecto}}</td>
                        <th></th>
                        <th></th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  <!-- '''''''''''''''''''''''''''''''''''''' -->
  <app-custom-modal title="Gestión de competencias" 
    [(show)]="showModalCompetencia">
    <app-competencias *ngIf="showModalCompetencia" 
      [competencia]="Competencia" 
      (store)="guardarCompetencia($event)"
      (cancel)="reset()">
    </app-competencias>
  </app-custom-modal>
  <!-- 00000000000000000000000000000000000000000000000000000000000 -->
  <app-custom-modal title="Gestión actividad Proyectos" [(show)]="showModalActividad">
    <app-add-actividad-proyecto *ngIf="showModalActividad" [actividadProyecto]="actividadProyecto"
      (store)="guardarActividadProyecto($event)" (cancel)="reset()">
    </app-add-actividad-proyecto>
  </app-custom-modal>

</div>