<div class="modal-body">
  <div class="card-header">
    <strong>Registrar programa</strong>
  </div>
  <div class="card-body">
    <form class="programaFormulario" 
    [formGroup]="formPrograma" 
    class="was-validated" novalidate
    method="POST" enctype="multipart/form-data">
      

      <!-- campos de nombre-->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="nombrePrograma">Programa</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese el nombre del programa"
            class="form-control is-valid"
            formControlName='nombrePrograma'>
          <div class="valid-feedback" *ngIf="!nombreProgramaField.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el nombre
        </div>
      </div>


      <!-- campos de codigo programa-->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="codigoPrograma">Código</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese el codigo del programa"
            class="form-control is-valid"
            formControlName='codigoPrograma'>
          <div class="valid-feedback" *ngIf="!codigoPrograma.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el codigo
        </div>
      </div>

      <!-- campos de descripcion-->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="descripcionPrograma">Descripción</label>
        <div class="col-md-7">
          <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Descripcion..." class="form-control is-valid" formControlName='descripcionPrograma'
            required></textarea>
          <div class="valid-feedback" *ngIf="!descripcion.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para la descripción
        </div>
      </div>
      <!-- campo para tipo programa -->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="idTipoPrograma">Tipo Programa</label>
        <div class="col-md-7">
          <select class="form-select" formControlName='idTipoPrograma'>
            <option [ngValue]="null">Seleccionar programa </option>
            <option *ngFor='let tipoPrograma of tipoProgramas' [ngValue]="tipoPrograma.id">{{tipoPrograma.nombreTipoPrograma}}</option>
          </select>
          <button class="btn btn-success rounded-circle m-1"  style="position: relative; left: 100%; top: -42px;" (click)="agregar()">+</button>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido el tipo de programa
        </div>
      </div>

       <!-- campos de total horas programa -->
       <div class="form-group row">
        <label class="col-md-4 col-form-label" for="totalHoras">Total Horas</label>
        <div class="col-md-7">
          <input
            type="number"
            onkeyup="javascript:this.value=this.value"
            placeholder="Ingrese el total de horas"
            class="form-control is-valid"
            formControlName='totalHoras'>
          <div class="valid-feedback" *ngIf="!totalHoras.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el tatal de horas
        </div>
      </div>

      <!-- campos de etapa lectiva programa-->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="etapaLectiva">Etapa Lectiva</label>
        <div class="col-md-7">
          <input
            type="number"
            onkeyup="javascript:this.value=this.value"
            placeholder="Ingrese horas etapa lectiva"
            class="form-control is-valid"
            formControlName='etapaLectiva'>
          <div class="valid-feedback" *ngIf="!etapaLectiva.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para la etapa lectiva
        </div>
      </div>

      <!-- campos de etapa productiva programa-->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="etapaProductiva">Etapa Productiva</label>
        <div class="col-md-7">
          <input
            type="number"
            onkeyup="javascript:this.value=this.value"
            placeholder="Ingrese horas etapa productiva"
            class="form-control is-valid"
            formControlName='etapaProductiva'>
          <div class="valid-feedback" *ngIf="!etapaProductiva.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para la etapa productiva
        </div>
      </div>

      <!-- campos de creditos lectiva programa-->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="creditosLectiva">Creditos Lectiva</label>
        <div class="col-md-7">
          <input
            type="number"
            onkeyup="javascript:this.value=this.value"
            placeholder="Ingrese horas creditos Lectiva"
            class="form-control is-valid"
            formControlName='creditosLectiva'>
          <div class="valid-feedback" *ngIf="!creditosLectiva.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para los creditos lectiva
        </div>
      </div>

      <!-- campos de creditos productiva programa-->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="creditosProductiva">Creditos Productiva</label>
        <div class="col-md-7">
          <input
            type="number"
            onkeyup="javascript:this.value=this.value"
            placeholder="Ingrese horas creditos productiva"
            class="form-control is-valid"
            formControlName='creditosProductiva'>
          <div class="valid-feedback" *ngIf="!creditosProductiva.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para los creditos productiva
        </div>
      </div>

      <!-- ruta archivo ----------- -->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="rutaArchivo">Archivo</label>
          <div class="col-md-7">
            <input
              type="file"
              (change)="onFileChangeDoc($event.target['files'])"
              onkeyup="javascript:this.value=this.value"
              class="form-control is-valid"
              formControlName='rutaArchivo'>
            <div class="valid-feedback" *ngIf="!rutaArchivo.hasError('required')">
              Valor válido
            </div>
          </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para los creditos productiva
        </div>
      </div>
    </form>

    <app-custom-modal title="Gestión tipo Programa"
      [(show)]="showModalTipoProgramas">
      <app-add-tipo-programa
        [tipoP]="tipoPrograma"
        (store)="guardarTipoProgramas($event)"
        (cancel)="reset()">
      </app-add-tipo-programa>
    </app-custom-modal>

    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-sm btn-primary"
        (click)="guardarPrograma()"
        [disabled]="formPrograma.invalid">
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button
        type="reset"
        class="btn btn-sm btn-danger"
        (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>