<div class="div-principal col-lg-12 grid-margin stretch-card">
    <div class="card style">
        <div class="card-header style">
            <i class="fa fa-align-justify"></i> Calendario
            <button type="button" class="btn btn-success mr-10 btn-sm" (click)="sede()">Sede</button>
            <button type="button" class="btn btn-success mr-10 btn-sm" (click)="programa()">Grupo</button>
            <button type="button" class="btn btn-success mr-10 btn-sm" (click)="grupos()">Programa</button>
            <button type="button" class="btn btn-success mr-10 btn-sm" (click)="ambientes()">Ambientes</button>
            <button type="button" class="btn btn-success mr-10 btn-sm" (click)="jornadas()">Jornadas</button>
        </div>

        <div class="row">
          <div class="col">
            <div class="card-body" style="width: 400px;  margin: auto;">
              <div class="from-group" style="margin-bottom: 40px;">
              <label for="" class="form-label">Sedes</label>
              <select class="form-select" id="opcion1"
              (change)="enviarIdSede($event)">
                <option value="">Selecciona una sede</option>
                <option *ngFor="let sede of sedes" [value]="sede.id">{{sede.nombreSede}}</option>
              </select>
            </div>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card-body" style="width: 400px;  margin: auto;">
              <label for="infraF">Infraestructura</label>
              <select class="form-select"
                      (change)="enviarIdInfra($event)" >
                <option value="">selecione una infraestructura</option>
                <option *ngFor="let infra of infraestructuras" [value]="infra.id">
                  {{infra.nombreInfraestructura}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card-body" style="width: 400px;  margin: auto;">
              <label for="gruposF">Grupos</label>
              <select class="form-select"
                      (change)="enviarIdGrupo($event)">
                <option value="">selecione un grupo</option>
                <option *ngFor="let grupo of gruposList" [value]="grupo.id">
                  {{grupo.nombre}}
                </option>
              </select>
            </div>
          </div>
        </div>

    </div>
  </div>

