<div class="div-principal col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Actividad aprendizaje
        <select #nreg class="form-control col-lg-1" (change)="enviarNumeroRegistros($event.target.value) ">
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
        </select>
      </div>

     
      

      <div class="card-body">
        <div class="div table-container ">
          <table class="table table-striped table-hover table-responsive">
            <thead>
              <tr class="table-info">
                <th>Id</th>
                <th>Actividad aprendizaje</th>
                <th>Código AA </th>
                <th>Resultado </th>
                <th>Estado</th>  
                <th>Acciones</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let AA of actividadAprendizajes | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }">
                <!-- <div *ngIf="rol.estado.id !=3"> -->
                <td>{{AA.id}}</td>
                <td>{{AA.NombreAA}}</td>
                <td>{{AA.codigoAA}}</td>
                <td>{{AA.rap.rap}}</td>
                 <td>{{AA.estado.estado}}</td>
                <td>
                  <span class="badge badge-primary" style="cursor: pointer;"
                    (click)="actualizar(AA)">Actualizar</span>
                  <span
                    class="badge badge-danger"
                    style="cursor: pointer;"
                    [swal]="{ title: 'Desea eliminar',  showCancelButton: true }"
                    (confirm)="eliminar(AA.id)">
                    Eliminar
                  </span>
                </td>
                <!-- </div> -->
              </tr>
            </tbody>
            <button type="button" class="btn btn-success mr-10 btn-sm" (click)="agregar()">Agregar</button>
          </table>
          <div>
            <ul>
              <span>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
              </span>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
