<div class="modal-body">
  <div class="card-header">
    <strong>Registrar Tipo Transacción</strong>
  </div>
  <div class="card-body">
    <form class="tipoTFormulario" [formGroup]="formTipoT" class="was-validated" novalidate>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="detalle">Nombre Tipo Transacción</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese el nombre del tipo de transacción"
            class="form-control is-valid"
            formControlName='detalle'>
          <div class="valid-feedback" *ngIf="!detalleField.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el nombre del proceso
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="descripcion">Descripción</label>
        <div class="col-md-7">
          <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Descripcion..." class="form-control is-valid" formControlName='descripcion'
            required></textarea>
          <div class="valid-feedback" *ngIf="!descripcionField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para la descripción
        </div>
      </div>
    </form>
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-sm btn-primary"
        (click)="guardarTipoT()"
        [disabled]="formTipoT.invalid">
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button
        type="reset"
        class="btn btn-sm btn-danger"
        (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>
