<div class="modal-body">
  <div class="card-header">
    <strong>Registrar Medio de Pago</strong>
  </div>
  <div class="card-body">
    <form class="medioPagoFormulario" [formGroup]="formMedioPago" class="was-validated" novalidate>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="detalleMedioPago">Medio de Pago</label>
        <div class="col-md-7">
          <input
            type="text"
            onkeyup="javascript:this.value=this.value.toUpperCase();"
            placeholder="Ingrese el nombre del medio de pago"
            class="form-control is-valid"
            formControlName='detalleMedioPago'>
          <div class="valid-feedback" *ngIf="!detalleMedioPagoField.hasError('required')">
            Valor válido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingresé un valor válido para el nombre del proceso
        </div>
      </div>

    </form>
    <div class="card-footer">
      <button
        type="submit"
        class="btn btn-sm btn-primary"
        (click)="guardarMedioPago()"
        [disabled]="formMedioPago.invalid">
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button
        type="reset"
        class="btn btn-sm btn-danger"
        (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>
