<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card rounded mt-3 style">
    <div class="card-header style">
      <i class="fa fa-align-justify"></i> Grupos Registrados
      <select #nreg class="form-control col-lg-1" (change)="enviarNumeroRegistros($event) ">
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>
    <div class="card-body">

        <div class="input-group mb-3">
          <input class="form-control" type="search" [(ngModel)]="query" (keyup)="filter()" placeholder="Buscar grupos">
          <button class="btn btn-primary" type="button"><i class="cil-search"></i></button>
        </div>

      <div class="div table-container">
        <table class="table table-striped table-hover table-responsive style">
          <thead>
            <tr class="table-info text-center">
              <th>Id</th>
              <th>Programa</th>
              <th>Nivel formativo</th>
              <th>Nombre del grupo</th>
              <th>Lider</th>
              <th>Tipo de formación</th>
              <th>Estado</th>
              <th>Tipo de oferta</th>
              <th>Fecha de inicio</th>
              <th>Fecha de finalización</th>
              <th>Observacion</th>
              <th>Tipo grupo</th>
              <!-- <th>Jornada</th> -->
              <th>Infraestructura</th>
              <th>Acciones</th>
          </thead>
          <tbody>
            <tr data-aos="fade-up"
              *ngFor="let grupo of gruposFiltrados of grupos | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }">
              <td>{{ grupo.id }}</td>
              <td>{{ grupo?.programa?.nombrePrograma || 'Programa no disponible' }}</td>
              <td>{{ grupo.nivel_formacion?.nivel }}</td>
              <td>{{ grupo.nombre || 'Nombre no disponible'}}</td>
              <td>{{ grupo?.lider || 'Lider no disponible ' }}</td>
              <td>{{ grupo?.tipo_formacion?.nombreTipoFormacion || 'Tipo de formación no disponible'}}</td>
              <td>{{ grupo?.estado_grupo.nombreEstado || 'Estado no disponible'}}</td>
              <td>{{ grupo?.tipo_oferta?.nombreOferta || 'Tipo de oferta no disponible'}}</td>
              <td>{{ grupo.fechaInicial | date:'d-MMMM-y' || 'Fecha inicial no disponible'}}</td>
              <td>{{ grupo.fechaFinal | date:'d-MMMM-y' }}</td>
              <td>{{ grupo.observacion || 'No se encuentra alguna observación'}}</td>
              <td>{{ grupo.tipo_grupo.nombreTipoGrupo || 'Tipo de grupo no disponible' }}</td>
              <!-- <td>{{ grupo.tipo_jornada.nombreJornada }}</td> -->
              <td>{{ grupo?.infraestructura?.nombreInfraestructura }}</td>
              <td>
                <span class="badge badge-primary" style="cursor: pointer;" (click)="actualizar(grupo)">Actualizar</span>
                <span class="badge badge-danger" style="cursor: pointer;"
                  [swal]="{ title: 'Desea eliminar',  showCancelButton: true }" (confirm)="eliminar(grupo.id)">
                  Eliminar
                </span>
              </td>
            </tr>
          </tbody>

          <button type="button" class="btn btn-success m-3" (click)="agregar()">Agregar</button>

        </table>
        <div>
          <ul>
            <span>
              <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </span>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
