<div class="modal-body">
  <div class="card-header">
    <strong>Registrar Usuario</strong>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rol of roles; let indice=index">
            <td>{{ rol.name }}</td>
            <app-custom-switch [(checked)]="rol.checked" size="8">
            </app-custom-switch>
          </tr>
        </tbody>
      </table>
      <!-- <ul>
        <span>
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </span>
      </ul> -->
    </div>
    <button class="mr-2"
      class="btn btn-success mr-10 btn-md" (click)="asignarRol()">Asignar roles</button>
  </div>
</div>
