<div class="modal-body" style="background: rgb(246, 244, 244);">
  <div class="card-header" style="background: rgb(246, 244, 244);">
    <strong>Registrar Grupo</strong>
  </div>
  <div class="card-body" style="background: rgb(246, 244, 244);">
    <form class="tipoDocFormulario" [formGroup]="formGrupo" class="was-validated" novalidate>


      <div class="form-floating mb-3">
        <select class="form-select" id="programa" aria-label="Floating label select example" formControlName="idPrograma">
          <option selected>Selecionar programa</option>
          <option *ngFor='let programa of programas' [ngValue]="programa.id">{{programa.nombrePrograma}}</option>
        </select>
        <label for="programa">Tipo de programa</label>
        <div class="valid-feedback" *ngIf="!programaField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el tipo de grupo
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="Text" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control"
          id="floatingInput" placeholder="name@example.com" formControlName='nombre'>
        <label for="floatingInput">Número de ficha / nombre</label>
        <div class="valid-feedback" *ngIf="!nombreField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el nombre del grupo
        </div>
      </div>

      <!--El lider debe ser nullable-->
      <div class="form-floating mb-3">
        <select class="form-select" id="lider" aria-label="Floating label select example" formControlName="idLider">
          <option selected>Selecionar lider</option>
          <option *ngFor='let lider of lideres' [ngValue]="lider.id">{{ lider.email }}</option>
        </select>
        <label for="lider">Lider</label>
        <div class="valid-feedback" *ngIf="!liderField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el lider
        </div>
      </div>


      <!-- <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Seleccionar lider</option>
        <option value="Gustavo">Gustavo</option>
        <option value="David Lozada">David Lozada</option>
        <option value="Angelica Guerrero">Angelica Guerrero</option>
      </select> -->


      <div class="form-floating mb-3">
        <select class="form-select" id="infraestrutura" aria-label="Floating label select example"
          formControlName="idInfraestructura">
          <option selected>Selecionar infraestructura</option>
          <option *ngFor='let infraestructura of infraestructuras' [ngValue]="infraestructura.id">
            {{infraestructura.nombreInfraestructura}}</option>
        </select>
        <label for="infraestrutura">Infraestructura</label>
        <div class="valid-feedback" *ngIf="!infraestructuraField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para la infraestructura
        </div>
      </div>


      <div class="form-floating mb-3">
        <select class="form-select" id="nivel" aria-label="Floating label select example" formControlName="idNivel">
          <option selected>Selecionar nivel de formación</option>
          <option *ngFor='let nivel of niveles' [ngValue]="nivel.id">{{nivel.nivel}}</option>
        </select>
        <label for="nivel">Nivel de formación</label>
        <div class="valid-feedback" *ngIf="!nivelFormacionField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para la nivel
        </div>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" id="tipoFormacion" aria-label="Floating label select example" formControlName="idTipoFormacion">
          <option selected>Selecionar tipo de formación</option>
          <option *ngFor='let tipoFormacion of tipoFormaciones' [ngValue]="tipoFormacion.id">{{tipoFormacion.nombreTipoFormacion}}</option>
        </select>
        <label for="tipoFormacion">Tipo de formación</label>
        <div class="valid-feedback" *ngIf="!tipoFormacionField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el tipo de formación
        </div>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" id="estado" aria-label="Floating label select example" formControlName="idEstado">
          <option selected>Selecionar estado</option>
          <option *ngFor='let estado of estados' [ngValue]="estado.id">{{estado.nombreEstado}}</option>
        </select>
        <label for="estado">Tipo de estado</label>
        <!-- <div class="valid-feedback" *ngIf="!estadoField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el estado
        </div>-->
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" id="tipoOferta" aria-label="Floating label select example" formControlName="idTipoOferta">
          <option selected>Selecionar tipo de oferta</option>
          <option *ngFor='let tipoOferta of tipoOfertas' [ngValue]="tipoOferta.id">{{tipoOferta.nombreOferta}}</option>
        </select>
        <label for="tipoOferta">Tipo de oferta</label>
        <div class="valid-feedback" *ngIf="!tipoOfertaField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para el tipo de oferta
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-floating mb-3">
            <input type="date" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control"
              id="fechaInicial" placeholder="name@example.com" formControlName='fechaInicial' #fechaInicialInput>
            <label for="fechaInicial">Fecha inicial lectiva</label>
            <div class="valid-feedback" *ngIf="!fechaInicialField.hasError('required')">
              Valor válido
            </div>
            <div class="invalid-feedback">
              Por favor ingresé un valor válido para la fecha inicial
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating mb-3">
            <input type="date" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control"
              id="floatingInput" placeholder="name@example.com" formControlName='fechaFinal' #fechaFinalInput>
            <label for="floatingInput">Fecha fin lectiva</label>
            <div class="valid-feedback" *ngIf="!fechaFinalField.hasError('required')">
              Valor válido
            </div>
            <div class="invalid-feedback">
              Por favor ingresé un valor válido para la fecha final
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-10">
          <div class="form-floating">
            <select class="form-select" id="tipoGrupo" aria-label="Floating label select example"
              formControlName="idTipoGrupo">
              <option selected>Selecionar tipo de grupo</option>
              <option *ngFor='let tipoGrupo of tipoGrupos' [ngValue]="tipoGrupo.id">{{tipoGrupo.nombreTipoGrupo}}
              </option>
            </select>
            <label for="tipoGrupo">Tipo de grupo</label>
            <div class="valid-feedback" *ngIf="!idTipoGrupo.hasError('required')">
              Valor válido
            </div>
            <div class="invalid-feedback">
              Por favor ingresé un valor válido para el tipo de grupo
            </div>
          </div>
        </div>
        <div class="col-sm-2 mt-2">
          <button type="button" class="btn btn-success rounded-circle" (click)="agregar()">+</button>
        </div>
      </div>
<!--
      <div class="form-floating mb-3">
        <select class="form-select" id="jornada" aria-label="Floating label select example"
          formControlName="grupos_jornada" #jornadaSelect>
          <option selected>Selecionar jornada</option>
          <option *ngFor='let jornada of jornadas' [value]="jornada.id">{{jornada.nombreJornada}}
          </option>
        </select>
        <label for="jornada">Jornada</label>
        <div class="valid-feedback" *ngIf="!jornadaField.hasError('required')">
          Valor válido
        </div>
        <div class="invalid-feedback">
          Por favor ingresé un valor válido para la jornada
        </div>
      </div>
-->
      <div class="form-floating">
        <textarea class="form-control" onkeyup="javascript:this.value=this.value.toUpperCase();" style="height: 100px"
          placeholder="Leave a comment here" id="floatingTextarea" formControlName='observacion' required></textarea>
        <label for="floatingTextarea">Observación</label>
        <div class="valid-feedback" *ngIf="!observacion.hasError('required')">
          Valor valido
        </div>
        <div class="invalid-feedback">
          Por favor ingrese un valor valido para la descripción
        </div>
      </div>


<div class="card">
  <div class="card-header">
    <strong> Seleccione la jornada </strong>
  </div>
  <div class="card-body">

    <div class="row row-cols-3">
      <div class="col">
        <label class="pointer">
          <app-custom-switch
            [size]="7"
            [checked]="allJornadas"
            (checkedChange)="changeAllJornadas($event)"
          >
          </app-custom-switch>
          Todas
        </label>
      </div>
      <div class="col-md-3" *ngFor="let jor of jornadas; let i = index;">
        <label class="pointer"
        >
          <app-custom-switch
            [size]="7"
            [checked]="jor.checked"
            (checkedChange)="changeJornada($event, i)"
            id="check{{ jor.id }}"
          >
          </app-custom-switch>
          {{jor.nombreJornada}}
        </label>
      </div>
    </div>
  </div>
</div>

    </form>

    <app-custom-modal title="Gestión Grupo" [(show)]="showModalTipoGrupo">
      <app-tipogrupos [tipoGrupos]="tipoGrupos" (store)="guardarTipoGrupo($event)" (cancel)="reset()">
      </app-tipogrupos>
    </app-custom-modal>

    <div class="card-footer text-center">
      <button type="submit" class="btn btn-success" (click)="guardarGrupo()"><!--[disabled]="formGrupo.invalid"-->
        <i class="fa fa-dot-circle-o"></i> Aceptar
      </button>
      <button type="reset" class="btn btn-danger" (click)="closeModal()">
        <i class="fa fa-ban"></i>
        Cancelar
      </button>
    </div>
  </div>
</div>



